@charset "UTF-8";

*{
    font-family: sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #3B3B5C, #292933);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #060607c4;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #3838B2;
    text-align: center;
    text-shadow: 1px 1px 2px #11113a;
}

h2 {
    color: #404086;
}

p {
    text-align: justify;
}